<div class="reserve-container">
  <h2>Selecciona una fecha</h2>
  <div class="dates-list">
    <div *ngFor="let date of dates" class="date-container">
      <button (click)="selectDate(date)" [class.selected]="date === selectedDate">
        {{ date | date: 'fullDate' }}
      </button>
      <div *ngIf="date === selectedDate">
        <h3>Selecciona tus asientos</h3>
        <button (click)="openSeatsSelector()">Seleccionar Sillas Disponibles</button>
        <div class="selected-seats">
          <button *ngFor="let seat of selectedSeats" disabled>
            {{ seat }}
          </button>
        </div>
        <hr class="separator">
        <h3>Horarios Disponibles</h3>
        <div class="times-list">
          <button *ngFor="let time of availableTimes" (click)="selectTime(time)" [disabled]="!time.available">
            {{ time.time }}
          </button>
        </div>
        <button class="reserve-button" (click)="openFormModal()">Reservar</button>
      </div>
      <hr>
    </div>
  </div>
  <app-seats-selector
    [showModal]="showSeatsModal"
    [selection]="selectedSeats"
    (closeModalEvent)="onCloseModalEvent($event)"
    (seatsSelected)="onSeatsSelected($event)"
    ></app-seats-selector>
    <app-confirm
    [showModal]="showFormModal"
    (closeModalEvent)="onCloseFormModalEvent($event)"
    ></app-confirm>
</div>
